* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{ background-color: cadetblue;
	width: 100vw;
	max-height: 60vh; 
	margin-top: 50px;
}

input[type=text],input[type=number],input[type=email]{
	background-color:hotpink;
	opacity: 0.25;
}

#Dogform {
	padding:15px;
	background-color: lawngreen;
	border-radius: 20px;
	margin-top:10px;
}

